@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    transition: all 0.4s ease 0s;
}

div {
    display: flex;
}

body {
    background-image: linear-gradient(#3352BA, #C75B80);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#header {
    margin-top: 10px;
}

#container {
    height: 80%;
    min-height: 400px;
    width: 90%;
    background-color: rgb(30, 31, 33);
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#container:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

#gallery {
    border-bottom: 1px solid white;
    height: 85%;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

#buttons button {
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    border: none;
    background-color: #4e78d7;
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.cardblock {
    background-color: rgb(47, 47, 48);
    width: 100%;
    height: 80px;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.cardblock:hover {
    margin-top: -5px;
    margin-bottom: 15px;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.cardbutton {
    width: 120px;
    height: 90%;
    border-left: 1px solid #666;
    justify-content: center;
    align-items: center;
}

.cardbutton button {
    width: 40%;
    border: none;
    margin: 2px;
    border-radius: 10px;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.delbtn {
    background-color: orangered;
}

.editbtn {
    background-color: orange;
}

.cardinfo {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
    margin-left: 20px;
}

.section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 25%;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

#formbox {
    width: 80%;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(30, 31, 33);
}

#inputbox {
    flex-direction: column;
    height: 60%;
    width: 70%;
    justify-content: space-evenly;
}

.inputter {
    flex-direction: column;
    justify-content: space-evenly;
    height: 25%;
}

.inputter p{
    color: silver;
}

.inputter input{
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid silver;
}

#checker {
    align-items: center;
}

#checker p {
    color: silver;
}

#checker input {
    margin-left: 50px;
}

#submitbox {
    justify-content: space-evenly;
    width: 300px;
}

#submitbox button {
    font-size: medium;
    border-radius: 25px;
    border: none;
    width: 120px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#submitter {
    background-color: yellowgreen;
}

#canceller {
    background-color: orangered;
}
